services:
  market:
    build:
      context: .
      dockerfile: deploy/market/Dockerfile
    environment:
      REDIS_HOST: redis
      REDIS_PORT: "6379"
    depends_on:
      - redis
    ports:
      - "8080:8080"
    volumes:
      - ./:/app

  redis:
    image: redis:7.2-alpine
    restart: unless-stopped
    volumes:
      - redis-data:/data
    ports:
      - "6379:6379"

volumes:
  redis-data: {}
