services:
  market:
    build:
      context: .
      dockerfile: deploy/market/Dockerfile
    environment:
      REDIS_HOST: redis
      REDIS_PORT: "6379"
      DB_URL: ${DB_URL}
    depends_on:
      - redis
    volumes:
      - ./:/app

  strategy:
    build:
      context: .
      dockerfile: deploy/strategy/Dockerfile
    environment:
      REDIS_HOST: redis
      REDIS_PORT: "6379"
      DB_URL: ${DB_URL}
    depends_on:
      - redis
    volumes:
      - ./:/app

  redis:
    image: redis:7.2-alpine
    restart: unless-stopped
    volumes:
      - redis-data:/data
    ports:
      - "6379:6379"

  postgres:
    image: postgres:15-alpine
    restart: unless-stopped
    environment:
      POSTGRES_USER: gostonks
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: market
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  redis-data: {}
  postgres-data: {}
